# Node / frontend
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*

# Environment files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/
capstone_env/
*_env/

# Model weights
*.pt

# Video files
*.mp4
*.mov
*.avi

# CV outputs
cv/outputs/

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
prompt.txt
prompt.txt
